Assignment 6/auctionClient/src/wsdl/localhost_8181/auction.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webService.auction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService.auction/">

<xs:element name="findItemByDescription" type="tns:findItemByDescription"></xs:element>

<xs:element name="findItemByDescriptionResponse" type="tns:findItemByDescriptionResponse"></xs:element>

<xs:element name="getItem" type="tns:getItem"></xs:element>

<xs:element name="getItemResponse" type="tns:getItemResponse"></xs:element>

<xs:element name="newBid" type="tns:newBid"></xs:element>

<xs:element name="newBidResponse" type="tns:newBidResponse"></xs:element>

<xs:element name="offerFurniture" type="tns:offerFurniture"></xs:element>

<xs:element name="offerFurnitureResponse" type="tns:offerFurnitureResponse"></xs:element>

<xs:element name="offerPainting" type="tns:offerPainting"></xs:element>

<xs:element name="offerPaintingResponse" type="tns:offerPaintingResponse"></xs:element>

<xs:element name="revokeItem" type="tns:revokeItem"></xs:element>

<xs:element name="revokeItemResponse" type="tns:revokeItemResponse"></xs:element>

<xs:complexType name="getItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item" abstract="true">
<xs:sequence>
<xs:element name="seller" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerFurniture">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:category" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="offerFurnitureResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerPainting">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:category" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerPaintingResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newBid">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg2" type="tns:money" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="money">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="newBidResponse">
<xs:sequence>
<xs:element name="return" type="tns:bid" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="revokeItem">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revokeItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findItemByDescription">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findItemByDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>